{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
  <br>
  Welcome to my T2D research website! This space is designed to share the data and methodologies 
  incorporated into my project in a transparent and accessible way. <br><br>
  The site is divided into four main sections:
  <a href="{{ url_for('methods.index') }}" class="button"><h3>Methods</h3></a>
  This tab provides detailed explanations of the methodologies, tools, and frameworks used in my
  research. It includes data processing workflows and other technical approaches. Each method is
  described with accompanying pseudocode where helpful.
  <a href="{{ url_for('datasets.index') }}" class="button"><h3>Datasets</h3></a>
  In this section, you'll find descriptions of the datasets I've used, including their source, structure,
  version, aim, and link to view the actual data used in my project.
  <a href="{{ url_for('code.index') }}" class="button"><h3>Code</h3></a>
  Here, you'll find all the python scripts and notebooks used for analysis and visualization.
  <a href="{{ url_for('results.index') }}" class="button"><h3>Results</h3></a>
  This section showcases the key findings from my work.
</div>
{% endblock %}